
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Consumers', '/consumers/new', method: :get %></li>
      <li><%= link_to 'Providers', signup_path, method: :get %> </li>
</ul>

<nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo center">dr <i class=" z-depth-1 mdi-maps-local-hospital"></i> ello</a>
      <a href="#" data-activates="mobile-side" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="left hide-on-med-and-down">
      <% if @provider  %>
<li>You are logged in as: <%= @provider.name  %></li>
<% elsif @consumer  %>
<li>You are logged in as: <%= @consumer.name  %></li>
<form action="/session" method="POST">
<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
<input type="hidden" name = "_method" value = "DELETE">

<input type="submit">Sign Out</input>
</form>

<% else  %>
<%= link_to 'Sign In', login_path, method: :get %>
<% end  %>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sign Up<i class="mdi-navigation-arrow-drop-down left"></i></a></li>
      <li><%= link_to 'Sign In', login_path, method: :get %></li>
    </ul>
    <ul class="side-nav" id="mobile-side">

      <li><%= link_to 'Sign In', login_path, method: :get %></li>
      <li class="divider"></li>
      <li><%= link_to 'Consumer Sign Up', '/consumers/new', method: :get %></li>
      <li><%= link_to 'Provider Sign Up', signup_path, method: :get %> </li>
    </ul>
      
    </div>
  </nav>

  <script>
  $(document).ready(function(){
       $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown(
        {hover: false});
      })
    </script>

       